<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title><%= page.title %></title>
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link media="all" type="text/css" rel="stylesheet" href="css/main.css">
    <link media="all" type="text/css" rel="stylesheet" href="css/media-queries.css">
    <base target="_blank">
  </head>
  <body>
    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="page-wrap">
      <header>
        <div class="header-wrap">
          <a class="logo" href="http://rollingscopes.com/"> </a>
          <a id="nav-btn" onclick="toggleClass()" href="javascript:void(0);" class="nav-btn">&#x2261;</a>
          <nav id="nav" class="vertical-mode-closed">
            <ul class="nav">
              <li><a href="http://school.rollingscopes.com">School</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <section class="banner">
        <h1>Front-end Course</h1>
      </section>
      <section>
        <h2>Что надо знать до начала курса</h2>
        <p>
          Основы программирования на уровне: <a href="https://www.udacity.com/course/cs101">https://www.udacity.com/course/cs101</a> <br />
          Алгоритмы и структуры данных на уровне: <a href="https://www.coursera.org/course/algs4partI">https://www.coursera.org/course/algs4partI</a>
        </p>
      </section>
      <section>
        <h2>Talks</h2>
        <% talks.reverse().forEach(function (talk, index) { %>
          <section style="padding: 0; margin-bottom: 40px">
            <h2 style="clear: after;">
              <span style="overflow: hidden"><%= talks.length - index %>. <%= talk.title %></span>
            </h2>
            <ul class="talks">
            <% talk.speakers.forEach(function (speaker) { %>
              <% speaker.slides.forEach(function (slides) { %>
                <li class="talk-item">
                  <a href="<%- slides.href %>" class="talk-item-title"><%= slides.title %></a>
                  <span class="talk-item-speaker"><%= speaker.name %></span>
                </li>
              <% }) %>
            <% }) %>
            </ul>
          </section>
          <section style="margin-top: -40px;">
          <% if (talk.links) { %>
            <% talk.links.forEach(function (link) { %>
              <p style="text-align: right">
                <a href="<%- link.href %>"><%= link.title %></a>
              </p>
            <% }) %>
          <% } %>
          </section>
        <% }) %>
      </section>
    </div>
  <script>
  var el = document.getElementById("nav");
  var navBtn = document.getElementById("nav-btn");

  window.toggleClass = function() {
      if (el.className == "vertical-mode-closed") {
          el.className = "vertical-mode";
          navBtn.innerHTML = 'x';
      } else {
          el.className = "vertical-mode-closed";
          navBtn.innerHTML = '&#x2261;';
      }
  }

  window.onresize = function () {
      el.className = "vertical-mode-closed";
      navBtn.innerHTML = '&#x2261;';
  }

  nav.onclick = function () {
      el.className = "vertical-mode-closed";
      navBtn.innerHTML = '&#x2261;';
  }

  if ("ontouchstart" in window){
      document.body.className += "isTouch";
  } else {
      document.body.className += "isDesktop";
  }

  </script>
  </body>
</html>
