<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title><%= page.title %></title>
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link media="all" type="text/css" rel="stylesheet" href="css/main.css">
    <link media="all" type="text/css" rel="stylesheet" href="css/media-queries.css">
    <base target="_blank">
  </head>
  <body>
    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="page-wrap">
      <header>
        <div class="header-wrap">
          <a class="logo" href="http://rollingscopes.com/"> </a>
          <a id="nav-btn" onclick="toggleClass()" href="javascript:void(0);" class="nav-btn">&#x2261;</a>
          <nav id="nav" class="vertical-mode-closed">
            <ul class="nav">
              <li><a href="https://github.com/rolling-scopes-school/tasks">Tasks</a></li>
              <li><a href="https://docs.google.com/spreadsheets/d/1W2NI28cE8a4bXv31DNe4kaVhaTHGdLF1Z-tbA3e8Ub8/edit?pli=1#gid=0">Score</a></li>
              <li><a href="https://github.com/rolling-scopes/front-end-course/wiki"><i class="fa fa-question"></i>FAQ</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <section class="banner">
        <h1>Front-end Course</h1>
      </section>
      <section>
        <h2>Что такое Rolling School и как сюда попасть</h2>
        <p>Внимательно читаем - <a href="https://github.com/rolling-scopes/front-end-course/wiki/About-Rolling-School">тут</a></p>
      </section>
      <section>
        <h2>Gitter rooms:</h2>
        <p><a href="https://gitter.im/rolling-scopes-school/padawans">https://gitter.im/rolling-scopes-school/padawans</a> – здесь можно задавать вопросы тем кто хочет попасть на курсы</p>
        <p><a href="https://gitter.im/rolling-scopes-school/padawans">Padawans</a> – здесь можно задавать вопросы тем кто хочет попасть на курсы</p>
<p><a href="https://gitter.im/rolling-scopes-school/questions">Questions</a> – общие вопросы/ответы (для доступа нужно быть членом rolling-scopes-school организации)</p>
<p><a href="https://gitter.im/rolling-scopes-school/announcements">Announcements</a> – здесь будут важные объявление (перенос/отмена занятия, смена места занятия) (для доступа нужно быть членом rolling-scopes-school организации)</p>
<a href="https://gitter.im/rolling-scopes-school/general">General</a> – флудильня 😺 (для доступа нужно быть членом rolling-scopes-school организации)</p>

      </section>
      <section>
        <h2>Программа курса:</h2>
        <p><a href="https://github.com/rolling-scopes/front-end-course/wiki/Course-Curriculum-2.0">https://github.com/.../wiki/Course-Curriculum-2.0</a></p>
      </section>
      <section>
        <h2>Расписание занятий:</h2>
        <p><a href="https://docs.google.com/spreadsheets/d/1qWF2QXmnUOoTioqfJ3znKLEr0KHsJo4QIs1olR392js/edit#gid=0">(тут)</a> может обновляться, следите в чате</p>
      </section>
      <section>
        <h2>Отзывы/пожелания/вопросы оставлять тут:</h2>
        <p><a href="https://docs.google.com/forms/d/1F4NeS0oBq-CY805aqiPVp6CIrl4_nIYJ7Z_vUcMOFrQ/viewform">Feedback</a></p>
      </section>
      <!--<section>-->
        <!--<h2>Talks</h2>-->
        <!--<% talks.reverse().forEach(function (talk, index) { %>-->
          <!--<section style="padding: 0; margin-bottom: 40px">-->
            <!--<h2 style="clear: after;">-->
              <!--<% if (talk.feedback_url) { %>-->
              <!--<a class="register-button" href="<%- talk.feedback_url %>" style="float: right; background: #19b6f0; color: white">-->
                <!--Feedback-->
              <!--</a>-->
              <!--<% } %>-->
              <!--<span style="overflow: hidden"><%= talks.length - index %>. <%= talk.title %></span>-->
            <!--</h2>-->
            <!--<ul class="talks">-->
            <!--<% talk.speakers.forEach(function (speaker) { %>-->
              <!--<% speaker.slides.forEach(function (slides) { %>-->
                <!--<li class="talk-item">-->
                  <!--<% if (slides.href) { %>-->
                  <!--<a href="<%- slides.href %>" class="talk-item-title"><%= slides.title %></a>-->
                  <!--<% } else { %>-->
                  <!--<p class="talk-item-title" style="margin-bottom: 0"><%= slides.title %></a>-->
                  <!--<% } %>-->
                  <!--<span class="talk-item-speaker"><%= speaker.name %></span>-->
                <!--</li>-->
              <!--<% }) %>-->
            <!--<% }) %>-->
            <!--</ul>-->
          <!--</section>-->
          <!--<section style="margin-top: -40px;">-->
          <!--<% if (talk.links) { %>-->
            <!--<% talk.links.forEach(function (link) { %>-->
              <!--<p style="text-align: right">-->
                <!--<a href="<%- link.href %>"><%= link.title %></a>-->
              <!--</p>-->
            <!--<% }) %>-->
          <!--<% } %>-->
          <!--</section>-->
        <!--<% }) %>-->
      <!--</section>-->
    </div>
  <script>
  var el = document.getElementById("nav");
  var navBtn = document.getElementById("nav-btn");

  window.toggleClass = function() {
      if (el.className == "vertical-mode-closed") {
          el.className = "vertical-mode";
          navBtn.innerHTML = 'x';
      } else {
          el.className = "vertical-mode-closed";
          navBtn.innerHTML = '&#x2261;';
      }
  }

  window.onresize = function () {
      el.className = "vertical-mode-closed";
      navBtn.innerHTML = '&#x2261;';
  }

  nav.onclick = function () {
      el.className = "vertical-mode-closed";
      navBtn.innerHTML = '&#x2261;';
  }

  if ("ontouchstart" in window){
      document.body.className += "isTouch";
  } else {
      document.body.className += "isDesktop";
  }

  </script>
  </body>
</html>
